:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3rem;

  color: #080708;
  background-color: #e6e8e6 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  line-height: 1.1;
  color: #f50a4a;
}
body {
  font-size: "1.5rem";
}
